body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1311px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:818px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:818px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:401px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:120px;
  width:540px;
  height:80px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:139px;
  width:328px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:281px;
  width:642px;
  height:59px;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  word-wrap:break-word;
}
