body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:837px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:456px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:456px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:168px;
  width:33px;
  height:33px;
  color:#5B7E96;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:188px;
  width:8px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:184px;
  width:21px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-7px;
  width:2px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:0.5px 8px;
  -ms-transform-origin:0.5px 8px;
  -moz-transform-origin:0.5px 8px;
  -webkit-transform-origin:0.5px 8px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:270px;
  width:33px;
  height:33px;
  color:#5B7E96;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:290px;
  width:8px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:286px;
  width:21px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-7px;
  width:2px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:0.5px 8px;
  -ms-transform-origin:0.5px 8px;
  -moz-transform-origin:0.5px 8px;
  -webkit-transform-origin:0.5px 8px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:194px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:187px;
  width:293px;
  height:194px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:181px;
  width:29px;
  height:20px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:201px;
  width:153px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:241px;
  width:251px;
  height:120px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:241px;
  width:17px;
  height:17px;
  color:#5B7E96;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:251px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:249px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:-0.5px 8.5px;
  -ms-transform-origin:-0.5px 8.5px;
  -moz-transform-origin:-0.5px 8.5px;
  -webkit-transform-origin:-0.5px 8.5px;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:267px;
  width:17px;
  height:17px;
  color:#5B7E96;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:277px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:275px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:-0.5px 8.5px;
  -ms-transform-origin:-0.5px 8.5px;
  -moz-transform-origin:-0.5px 8.5px;
  -webkit-transform-origin:-0.5px 8.5px;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:317px;
  width:17px;
  height:17px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:340px;
  width:17px;
  height:17px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:292px;
  width:17px;
  height:17px;
  color:#5B7E96;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:302px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:300px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:-0.5px 8.5px;
  -ms-transform-origin:-0.5px 8.5px;
  -moz-transform-origin:-0.5px 8.5px;
  -webkit-transform-origin:-0.5px 8.5px;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:111px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:47px;
  width:311px;
  height:111px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D33F2F;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:31px;
  width:39px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D33F2F;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:194px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:187px;
  width:293px;
  height:194px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:181px;
  width:29px;
  height:20px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:201px;
  width:153px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:241px;
  width:251px;
  height:120px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:241px;
  width:17px;
  height:17px;
  color:#5B7E96;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:251px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:249px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:-0.5px 8.5px;
  -ms-transform-origin:-0.5px 8.5px;
  -moz-transform-origin:-0.5px 8.5px;
  -webkit-transform-origin:-0.5px 8.5px;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:267px;
  width:17px;
  height:17px;
  color:#5B7E96;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:277px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:275px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  word-wrap:break-word;
  transform-origin:-0.5px 8.5px;
  -ms-transform-origin:-0.5px 8.5px;
  -moz-transform-origin:-0.5px 8.5px;
  -webkit-transform-origin:-0.5px 8.5px;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:317px;
  width:17px;
  height:17px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:340px;
  width:17px;
  height:17px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:292px;
  width:17px;
  height:17px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
