/* Light Theme */
body {
	background-color: #FCFCFC;
}

#about {
	background:url(images/me_vik2.jpg) no-repeat center;
	box-shadow: inset 0 0 0 1000px rgba(252,252,252,.1);
	/*background-attachment: fixed;*/
	background-size: cover;
}

