body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:730px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:230px;
  width:577px;
  height:55px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:288px;
  width:577px;
  height:55px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:710px;
  height:450px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_ann {
  border-width:0px;
  position:absolute;
  left:713px;
  top:5px;
  width:1px;
  height:1px;
}
