body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:730px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:33px;
  width:176px;
  height:50px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_ann {
  border-width:0px;
  position:absolute;
  left:214px;
  top:29px;
  width:1px;
  height:1px;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:376px;
  width:185px;
  height:63px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_ann {
  border-width:0px;
  position:absolute;
  left:488px;
  top:372px;
  width:1px;
  height:1px;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:374px;
  width:218px;
  height:65px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_ann {
  border-width:0px;
  position:absolute;
  left:703px;
  top:370px;
  width:1px;
  height:1px;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:230px;
  width:577px;
  height:55px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:288px;
  width:577px;
  height:55px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:89px;
  width:625px;
  height:253px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_ann {
  border-width:0px;
  position:absolute;
  left:663px;
  top:85px;
  width:1px;
  height:1px;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:202px;
  width:173px;
  height:27px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_ann {
  border-width:0px;
  position:absolute;
  left:582px;
  top:198px;
  width:1px;
  height:1px;
}
