body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1353px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:90px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:457px;
  width:716px;
  height:90px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:543px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:543px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:88px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:8px;
  width:619px;
  height:88px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:615px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:116px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:122px;
  width:314px;
  height:116px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:116px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:248px;
  width:315px;
  height:116px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:179px;
  width:111px;
  height:42px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:178px;
  width:160px;
  height:36px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:305px;
  width:111px;
  height:42px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:305px;
  width:160px;
  height:36px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:127px;
  width:300px;
  height:103px;
  opacity:0.5;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:253px;
  width:300px;
  height:103px;
  opacity:0.5;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:29px;
  width:423px;
  height:50px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_ann {
  border-width:0px;
  position:absolute;
  left:463px;
  top:25px;
  width:1px;
  height:1px;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:188px;
  width:310px;
  height:112px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:184px;
  width:1px;
  height:1px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:212px;
  width:60px;
  height:60px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_ann {
  border-width:0px;
  position:absolute;
  left:124px;
  top:208px;
  width:1px;
  height:1px;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:187px;
  width:310px;
  height:112px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_ann {
  border-width:0px;
  position:absolute;
  left:669px;
  top:183px;
  width:1px;
  height:1px;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:212px;
  width:60px;
  height:60px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_ann {
  border-width:0px;
  position:absolute;
  left:440px;
  top:208px;
  width:1px;
  height:1px;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:212px;
  width:122px;
  height:60px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_ann {
  border-width:0px;
  position:absolute;
  left:244px;
  top:208px;
  width:1px;
  height:1px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:305px;
  width:632px;
  height:78px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_ann {
  border-width:0px;
  position:absolute;
  left:675px;
  top:301px;
  width:1px;
  height:1px;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:453px;
  width:613px;
  height:47px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_ann {
  border-width:0px;
  position:absolute;
  left:653px;
  top:449px;
  width:1px;
  height:1px;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:85px;
  width:603px;
  height:60px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_ann {
  border-width:0px;
  position:absolute;
  left:643px;
  top:81px;
  width:1px;
  height:1px;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:155px;
  width:310px;
  height:30px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_ann {
  border-width:0px;
  position:absolute;
  left:350px;
  top:151px;
  width:1px;
  height:1px;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:212px;
  width:138px;
  height:60px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_ann {
  border-width:0px;
  position:absolute;
  left:576px;
  top:208px;
  width:1px;
  height:1px;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:8px;
  width:619px;
  height:88px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:615px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_ann {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:4px;
  width:1px;
  height:1px;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:122px;
  width:314px;
  height:244px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_ann {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:118px;
  width:1px;
  height:1px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:400px;
  width:573px;
  height:47px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_ann {
  border-width:0px;
  position:absolute;
  left:613px;
  top:396px;
  width:1px;
  height:1px;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:472px;
  width:153px;
  height:28px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_ann {
  border-width:0px;
  position:absolute;
  left:193px;
  top:468px;
  width:1px;
  height:1px;
}
