body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:730px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:459px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:285px;
  width:577px;
  height:55px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:230px;
  width:577px;
  height:55px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:55px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:288px;
  width:577px;
  height:55px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
