body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:729px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:299px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:299px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:86px;
  width:570px;
  height:94px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_ann {
  border-width:0px;
  position:absolute;
  left:613px;
  top:82px;
  width:1px;
  height:1px;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:39px;
  width:380px;
  height:37px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_ann {
  border-width:0px;
  position:absolute;
  left:423px;
  top:35px;
  width:1px;
  height:1px;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:208px;
  width:256px;
  height:70px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_ann {
  border-width:0px;
  position:absolute;
  left:702px;
  top:204px;
  width:1px;
  height:1px;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:208px;
  width:137px;
  height:70px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_ann {
  border-width:0px;
  position:absolute;
  left:449px;
  top:204px;
  width:1px;
  height:1px;
}
