body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1353px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:381px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:381px;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:162px;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:729px;
  height:162px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:88px;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:8px;
  width:619px;
  height:88px;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:615px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:116px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:186px;
  width:315px;
  height:116px;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:243px;
  width:111px;
  height:42px;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:243px;
  width:160px;
  height:36px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:191px;
  width:300px;
  height:103px;
  opacity:0.5;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:210px;
  width:265px;
  height:64px;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:210px;
  width:265px;
  height:64px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:51px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:366px;
  width:615px;
  height:51px;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:444px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:709px;
  height:444px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2836_ann {
  border-width:0px;
  position:absolute;
  left:713px;
  top:2px;
  width:1px;
  height:1px;
}
#u2838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:186px;
  width:630px;
  height:112px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_ann {
  border-width:0px;
  position:absolute;
  left:670px;
  top:182px;
  width:1px;
  height:1px;
}
#u2840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:367px;
  width:613px;
  height:47px;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_ann {
  border-width:0px;
  position:absolute;
  left:653px;
  top:363px;
  width:1px;
  height:1px;
}
#u2842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:85px;
  width:603px;
  height:60px;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_ann {
  border-width:0px;
  position:absolute;
  left:643px;
  top:81px;
  width:1px;
  height:1px;
}
#u2844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:315px;
  width:573px;
  height:47px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_ann {
  border-width:0px;
  position:absolute;
  left:613px;
  top:311px;
  width:1px;
  height:1px;
}
