body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1353px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:417px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:90px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:457px;
  width:716px;
  height:90px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:543px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:543px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:88px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:8px;
  width:619px;
  height:88px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:615px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:116px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:122px;
  width:314px;
  height:116px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:116px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:248px;
  width:315px;
  height:116px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:179px;
  width:111px;
  height:42px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:178px;
  width:160px;
  height:36px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:305px;
  width:111px;
  height:42px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:305px;
  width:160px;
  height:36px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:127px;
  width:300px;
  height:103px;
  opacity:0.5;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:253px;
  width:300px;
  height:103px;
  opacity:0.5;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
