body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1311px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:818px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:818px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:401px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:128px;
  width:521px;
  height:60px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_ann {
  border-width:0px;
  position:absolute;
  left:834px;
  top:124px;
  width:1px;
  height:1px;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:229px;
  width:305px;
  height:41px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_ann {
  border-width:0px;
  position:absolute;
  left:633px;
  top:225px;
  width:1px;
  height:1px;
}
#u1716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:274px;
  width:523px;
  height:36px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_ann {
  border-width:0px;
  position:absolute;
  left:853px;
  top:270px;
  width:1px;
  height:1px;
}
#u1718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:413px;
  width:250px;
  height:70px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_ann {
  border-width:0px;
  position:absolute;
  left:981px;
  top:409px;
  width:1px;
  height:1px;
}
