body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:435px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:55px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:435px;
  height:55px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:71px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:71px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:682px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:435px;
  height:682px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:330px;
  height:33px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_ann {
  border-width:0px;
  position:absolute;
  left:335px;
  top:10px;
  width:1px;
  height:1px;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:16px;
  width:38px;
  height:36px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_ann {
  border-width:0px;
  position:absolute;
  left:413px;
  top:12px;
  width:1px;
  height:1px;
}
#u1682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:724px;
  width:110px;
  height:68px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_ann {
  border-width:0px;
  position:absolute;
  left:428px;
  top:720px;
  width:1px;
  height:1px;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:71px;
  width:411px;
  height:176px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_ann {
  border-width:0px;
  position:absolute;
  left:413px;
  top:67px;
  width:1px;
  height:1px;
}
#u1686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:281px;
  width:410px;
  height:208px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_ann {
  border-width:0px;
  position:absolute;
  left:412px;
  top:277px;
  width:1px;
  height:1px;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:121px;
  width:88px;
  height:87px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_ann {
  border-width:0px;
  position:absolute;
  left:97px;
  top:117px;
  width:1px;
  height:1px;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  line-height:18px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:78px;
  width:404px;
  height:36px;
  font-size:14px;
  color:#5E5E5E;
  line-height:18px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
